@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Ms+Madi&family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	
}
:root{
	--var1:#e820ac;
	--var2:#9e2fed;
	
}
body{
	display: flex;
	
	
	justify-content: center;
	height: 100vh;
	background-size: 100% 100%;
	background-position: 1px 0px,0px 0px,0px 0px,0px 0px;
	background-image: linear-gradient(100deg,  var(--var2),var(--var1) );
}
.container{
	transition:.8s ease all;
	position: relative;
	height: 50%;
	/* display: flex; */
	margin-top:3em;
	text-align:center;
	background: white;
	width: 40%;
	border-radius:20px;
	box-shadow:7px 6px 7px rgba(0,0,0,0.6);
}
.container .title{
	font-size: 50px;
	font-family: 'Ms Madi', cursive;
	margin: 30px 0;
	color: var(--var2);
}
i {
	position: absolute;
	right: 15%;
	top:12%;
	color: var(--var1);
	font-size: 45px;
	
}
i:hover{
	color: var(--var2);
	transition:2s ease all;
}
.time{
	margin-bottom: 30px;
}
#sun{
	transition:.8s ease all;
}
#moon  {
	transition:.8s ease all;
	display: none;
}
.dark{
	background: #101010;
}
.digit{
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	margin-left: 15px;
	/* font-weight: 600; */
	margin-right: 5px;
}
.base{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}
.butt{
	/* width: 10%; */
	text-align:center;
	font-family: 'Poppins', sans-serif;
	margin-right: 10px;
	font-size: 20px;
	border:3px solid var(--var1);
	background:transparent;
	border-radius:5px;
	/* box-shadow: 3px 3px rgba(0,0,0,0.5); */
	padding:2.5% 3.5%;
}
.container .title,i,.digit,.base,.butt{
	color: var(--var1);
}
/* responsive designing */

@media (max-width:810px) {
	.container{
		width: 70%;
		height: 60%;
	}
	.container .title{
		font-size: 40px;
	}
	.digit{
		font-size: 25px;
	}
	.base{
		font-size: 20px;
	}
	.butt{
		padding:1.75% 2.25%;
		font-size: 15px;
	}
} 